<div class ="jumbotron jumbocolor">
<center>
  <h1 class="display-3 jumbocolor">
  <div class="formcolor">
    <a1>Category: <%= @list.name %></a1><br>
  </h1><br>
  <p class="lead">Tasks<p>
</div>

</center>
</div>
</div>

<div class="container-fluid mx-auto">
<div class="col-md-6 col-md-offset-3 mx-auto">
<% @tasks.each do |task| %>

<div class="row task">

<div class="col-md-8">
  <h2 style="opacity: 1;" class="title"><b><%= task.name %></b></h2>
  <p style="opacity: 0.8" class="task-description task-sub-title"><%= task.descriptions %></p>
  <p style="opacity: 0.5;" class="time-ago task-sub-title">Due: <%= task.date %></p>
</div>

<div class="col-md-2">
<b><%= task.status%></b>
</div>

<div class="col-md-1">
  <p><%= link_to 'Edit', edit_list_task_path(@list,task), { class: "badge badge-light" } %></p>

</div>

<div class="col-md-1">
<p><%= link_to '<i class="fa fa-lg fa-trash"></i>'.html_safe, list_task_path(@list,task), method: :delete, data: { confirm: 'Are you sure?' },  class: "badge badge-light" %></p>
<br>
</div>

</div>
<br>
<% end %>
</div>
</div>


  <div class="jumbotron jumbotron-fluid">
  <div class="container">
  <div class = "formwidth">
<div class=" text-center title"><h2><b>Add Task</b></h2></div>
<%= simple_form_for [@list, @task] do |f| %>
<%= f.input :name, label: 'Name:' %><br>
<%= f.input :descriptions, label: 'Description:' %><br>
<%= f.label :status, label: 'Status:' %><br>
<%= f.collection_radio_buttons :status, [['INCOMPLETE', 'Incomplete'] ,['IN PROGRESS', 'In Progress'], ['COMPLETED', 'Completed']], :first, :last %><br><br>
<%= f.input :date, label: 'Due:' %>
<div class="text-center"><%= f.button :submit %></div>
<% end %>



<br><br><br>
</div>
<div class="text-center lead"><h3><%= link_to 'BACK HOME', lists_path %></h3></p>
</div>
